.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 3%;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #157347;
}

p {
  font-size: 2rem;
  color: #198754;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

.play-btn {
  margin-top: 30px;
  align-items: center;
}

button {
  width: 20%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
